body{
    background-color: #303030;
    color: #EFEBE4;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logotipo{
    width: 120px;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    color: #EFEBE4;
    margin: 30px 10px;
    align-items: end;
    justify-content: center;
}

header img{
    width: 100px;
}

.timer{
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
}


